@font-face {
    font-family: font;
    src: url(./fonts/SuperDream.ttf) format('woff2');
}

@font-face {
    font-family: fontM;
    src: url(./fonts/micross.ttf) format('woff2');
}

a {
    color: white;
}

.first {
    background-image: url(./images/homeAchtergrond.jpg);
    background-size: cover;
}

.andere,
.andereWa,
.andereWi {
    background-image: url(./images/achter.jpg);
    background-size: cover;
}

.andereWa {
    margin-bottom: 86em;
}

body {
    max-width: 23em;
    margin: 0;
    overflow: auto;
}

li,
ul {
    list-style: none;
}

h1 {
    font-family: font;
    font-weight: 100;
    display: flex;
    justify-content: center;
    position: relative;
}

h2 {
    font-family: font;
    color: #E5D42F;
    font-weight: 100;
}

p {
    font-family: fontM;
    font-weight: 100;
    color: white;
}

.Logo {
    position: absolute;
    left: 1em;
    top: 1em;
}

header nav {
    background-color: white;
    width: 20em;
    margin: 2em;
    display: flex;
    justify-content: center;
    border-radius: 1em;
    position: fixed;
    height: 4em;
    bottom: 0;
    z-index: 9999;
    border-color: #666666;
    border-style: solid;
    margin-left: 1.5em;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav li {
    position: relative;
    margin: 2em;
    bottom: 2.5em;
    right: 1.1em;
}

header nav p {
    z-index: 1000;
    position: absolute;
}

.Begin img {
    position: absolute;
    left: 2.5em;
    top: 3.5em;
}

.Begin h1 {
    color: #E5D42F;
    top: 15em;
    left: -1em;
}

.Begin p {
    position: relative;
    top: 21.5em;
    left: 4em;
}

.StoreInfoWie {
    position: relative;
    top: 23em;
}

.StoreInfoWie li {
    width: 20em;
    left: 2em;
    position: relative;
    margin-bottom: 1em;
}

.StoreInfoWie li:nth-child(2) p:nth-child(1),
.waaromInfo li:nth-child(5) p:last-child {
    font-weight: 900;
    position: relative;
}

.StoreInfoWie p:nth-child(1),
.StoreInfoWie p:nth-child(2) {
    position: relative;
    top: -1.2em;
}

.StoreInfoWie li:nth-child(3) img {
    position: absolute;
    right: 2.5em;
}

.StoreInfoWie li:nth-child(4),
.StoreInfoWie li:nth-child(5),
.StoreInfoWie li:nth-child(6) {
    position: relative;
    top: 14em;
    background-color: #D54C2A;
    height: 8em;
    border-radius: 5%;
    box-shadow: .5em .5em black;
    left: 1.5em;
    margin-bottom: 1em;
}

.StoreInfoWie li:nth-child(4) img,
.StoreInfoWie li:nth-child(5) img,
.StoreInfoWie li:nth-child(6) img {
    position: relative;
    margin: 1em;
}

.StoreInfoWie li:nth-child(4) p,
.StoreInfoWie li:nth-child(5) p,
.StoreInfoWie li:nth-child(6) p {
    width: 10em;
    font-size: 1.1em;
    font-weight: 900;
    position: relative;
    left: 7.2em;
    bottom: 8em;
}

.StoreInfoWie li:nth-child(4) h2,
.StoreInfoWie li:nth-child(5) h2,
.StoreInfoWie li:nth-child(6) h2 {
    width: 10em;
    color: #E5D42F;
    position: relative;
    left: 5.3em;
    bottom: 5.3em;
}

.StoreInfoTips ul {
    position: relative;
    right: 1em;
}

.StoreInfoTips li:first-child img,
.StoreInfoTips li:nth-child(3) img {
    position: relative;
    left: .6em;
    margin-left: .7em;
}

.StoreInfoTips p,
.waaromInfo p {
    position: relative;
    top: -1em;
}

.StoreInfoTips h1 {
    font-size: 3em;
    top: .5em;
    color: white;
}

.waaromInfo ul,
.StoreInfoWie ul {
    padding: 0;
}

.waaromFo h1 {
    font-size: 2.3em;
    top: 1.6em;
    color: white;
}

.waaromFo img:nth-child(2) {
    position: absolute;
    top: -13.5em;
    z-index: -10;
}

.waaromFo img:nth-child(3) {
    position: absolute;
    top: 8.5em;
    left: 1.5em;
}

.waaromInfo {
    position: absolute;
    top: 23em;
    margin: 1.4em;
}

.waaromInfo li:nth-child(4),
.waaromInfo li:nth-child(5) {
    position: relative;
    top: 16em;
}

.waaromInfo li img {
    position: absolute;
    right: .1em;
}

.waaromInfo li:last-child img {
    position: absolute;
    left: 9.5em;
    top: 6em;
}